:root {
    --clr1: #FFFFFF;
    --clr2: #434455;
    --clr3: #2e2f42;
    --clr4: #404bbf;
    --clr5: #4D5AE5;
    --clr6: #F4F4FD;
    --ul1: #ffffff00;
}

/* Body */

.body {
    position: relative;
    background-color: var(--clr1);
    font-family: "Roboto", sans-serif;
    width: 1440px;
    height: 2592px;
    color: var(--clr2);
}

a {
    text-decoration: none;
}

/* Header */


/* WebStudio logo */
.webstudio-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr5);
}

.studio-item {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr3);
}

/* Logo links */

.logo-links .list {
    list-style: none;
}

/* Studio logo */

.header-nav-link {
    font-weight: 500;
    font-size: 1.5;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--clr3);
    text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--clr4);
}

/* Address links */

.address {
    font-style: normal;
}

.address-links {
    color: var(--ul1);
}

/* Gmail link*/

.address-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--clr2);
}

.address-item:hover,
.address-item:focus {
    color: var(--clr4)
}

/* Hero section */

.hero-section {
    text-align: center;
    background-color: var(--clr3);
    margin: 0;
}

.hero-slogan {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--clr1);
}

.hero-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--clr5);
}

.hero-button:hover,
.hero-button:active {
    background-color: var(--clr4);
}

/* Values */

.values-section {
    padding: 120px 0 0 0;
}

.values {
    color: var(--ul1);
}

.values-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--clr3);
    width: 264px;
    height: 24px;
}

.values-slogan {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--clr2);
    width: 264px;
    height: 72px;
}

/* About us */

.about-us {
    width: 323px;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--clr3);
    padding: 120px 0 0 558px;
}

.about-us-img {
    color: var(--ul1);
}

.photo-item {
    box-sizing: border-box;
    width: 360px;
    height: 300px;
    border: 1px solid #E7E9FC;
}

/* Our team */

.team-title {
    width: 162px;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.worker-imgs {
    color: var(--ul1);
}

.worker-item {
    width: 264px;
    height: 260px;
    mix-blend-mode: normal;
}

.workers {
    width: 264px;
    height: 380px;
    left: 732px;
    top: 1780px;
    background: var(--clr1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.worker-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--clr3);
}

.worker-descr {
    width: 144px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--clr2);

}

/* Footer */

.footer {
    background-color: var(--clr2);

}

.st-item {
    color: var(--clr6);
}

.site-descr {
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2420px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--clr6);
    background-color: var(--clr2);
}




/* PORTFOLIO */

.list {
    list-style: none;
}

.prtflio-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--clr5);
    background-color: var(--clr6);
}

.prtflio-button:hover,
.prtflio-button:focus {
    color: var(--clr1);
    background-color: var(--clr4);
}